
body {
    font-family: 'Poppins', sans-serif;
    background: #e0f7ff;
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 330px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.role {
    color: gray;
    margin-bottom: 10px;
    font-size: 14px;
}

.desc {
    font-size: 14px;
    margin: 15px 0;
    color: #444;
}


.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.hire {
    background: #007bff;
    color: white;
}

.contact {
    background: #eee;
    color: #333;
}

button:hover {
    transform: scale(1.06);
}

/
@media (max-width: 480px) {
    .card {
        width: 280px;
        padding: 20px;
    }

    .profile-image {
        width: 100px;
        height: 100px;
    }

    .buttons {
        flex-direction: column;
    }
}
